body {
  font-family: Arial, sans-serif;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("../img/ajout.jpg");
}

.arrow-buttons {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(180%);
  margin: 100px;
  font-size: 30px;
}
.arrow-buttons:hover {
  cursor: pointer;
  background-color: #333;
}
.card {
  transform: translateY(40%);
  background-size: cover;
  text-align: center;
  align-content: center;
  border-radius: 5%;
  height: 300px;
  width: 490px;
  box-shadow: 5px 5px 15px rgba(0.7, 0.7, 0.7, 0.7);
  border-radius: 8px;
  font-size: 25px;
}
.card a {
  text-decoration: none;
  color: wheat;
  background-color: #121212;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}
.card:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 1.5em 3em;
  width: 50%;
}

.title {
  position: relative;
  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  left: 24%;
}

form .form_control {
  width: 100%;
  position: relative;
  overflow: hidden;
}

form .form_control .label {
  position: absolute;
  top: 50%;
  left: 10px;
  transition: transform ease 0.2s;
  transform: translate(0%, -50%);
  font-size: 1em;
  user-select: none;
  pointer-events: none;
  color: #1d1a1a;
}

form .form_control .input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  padding: 0.9rem;
  font-size: 1.25em;
  border-radius: 5px;
  transition: box-shadow ease 0.2s;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

form .form_control .input:focus,
form .form_control .input:valid {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

form .form_control .input:focus + .label,
form .form_control .input:valid + .label {
  transform: translate(-150%, -50%);
}

form #button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 5px;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

form #button:active {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.bottom_text {
  font-size: 0.9em;
}

.bottom_text .swtich {
  font-weight: 700;
  cursor: pointer;
}

.ajouter {
  display: flex;
  justify-content: center;
}

.logoform {
  position: relative;
  height: 320px;
  width: 320px;
  left: 37%;
  margin-top: -4%;
  margin-bottom: -5%;
}

#ajout {
  color: rgb(18, 170, 12);
  position: absolute;
  top: 25%;
  left: 38%;
  font-size: 17px;
}
