body {
  font-family: Arial, sans-serif;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #cabdbd;
}

.games {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}
.game {
  background-color: white;
  padding: 30px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  height: 10px;
  width: 10px;
}

.arrow-buttons {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(180%);
  margin: 100px;
  font-size: 30px;
}
.arrow-buttons:hover {
  cursor: pointer;
  background-color: #333;
}
.card {
  transform: translateY(40%);
  background-size: cover;
  text-align: center;
  align-content: center;
  border-radius: 5%;
  height: 300px;
  width: 490px;
  box-shadow: 5px 5px 15px rgba(0.7, 0.7, 0.7, 0.7);
  border-radius: 8px;
  font-size: 25px;
}
.card a {
  text-decoration: none;
  color: wheat;
  background-color: #121212;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}
.card:hover {
  cursor: pointer;
}

h1 {
  text-decoration: underline;
  margin: 4%;
  font-size: 37px;
}
table {
  position: relative;
  border-radius: 1.5em;
  border: solid black 0px;
  overflow: hidden;
  font-weight: 700;
  top: 70%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, 0%);
  margin-bottom: 7%;
  background-color: white;
  text-align: center;
}

table button {
  --hover-shadows: 10px 10px 20px #4757cf, -10px -10px 20px #4757cf;
  --accent: fuchsia;
  font-weight: bold;
  font-weight: 600;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 1.1em;
  height: 40px;
  width: 123px;
  background-color: #4757cf;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 5px 5px 10px #4757cf, -5px -5px 10px;
}

table button:hover {
  box-shadow: var(--hover-shadows);
}

table button:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}

th {
  background-color: #4757cf;
}

table {
  border-collapse: collapse;
}

tr:not(:last-child) td {
  border-bottom: 1px solid black;
}
td,
th {
  border-left: none;
  border-right: none;
}
tr:nth-child(even) {
  background-color: #f0f0f0;
}

td {
  color: rgb(97, 95, 95);
}

nav {
  background-color: #444;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}
